<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Wam Training</h1>
            <h3 mb-5>
                <em>
                    Controla tus competiciones
                </em>
            </h3>
            <a href="/signin" class="btn btn-primary">
            Comenzemos
            </a>
        </div>
    </header>

</main>