

<br><br>
<div class="container p-4">
  <dl>
  <dt>
TOP 3 LUGARES
  </dt>
  {{#each results}}
  <dd class="percentage percentage-{{final}}"><span class="text">{{competidor}} {{final}}</span></dd>
  {{/each}}
</dl>
</div>



