<div class="container -p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card-body">
                <form action="/links/adduser" method="POST">
                    <h4>Ingresar competidor</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre del competidor"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="gamertag" placeholder="Alias">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categoria</label>
                        <select class="form-control" name="categoria" id="exampleFormControlSelect1">
                            {{#each compes}}
                           <option value="{{nombre_competencia}}">{{nombre_competencia}}</option>
                            {{/each}}
                        </select>

                    </div>
                       <div class="form-group">
                        <label for="exampleFormControlSelect1">Procedencia</label>
                        <select class="form-control" name="procedencia" id="exampleFormControlSelect1">
                            <option value="Durango">Durango</option>
                            <option value="NuevoLeon">Nuevo León</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Sonora">Sonora</option>
                        </select>
                       </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="celular" placeholder="Celular">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="correo" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="edad" placeholder="Edad">
                    </div>
                   <div class="form-group">
                        <label for="exampleFormControlSelect1">Sexo</label>
                        <select class="form-control" name="sexo" id="exampleFormControlSelect1">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="estatura" placeholder="Estatura">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>