
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign up</h3>
                    <div class="card-body">
                        <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="user" placeholder="Ingrese su usuario" class="form-control">
                        </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control">
                                </div>
                                   <div class="form-group">
                                    <input type="text" name="nombre" placeholder="Ingrese su nombre" class="form-control">
                                </div>
                                   <div class="form-group">
                                    <input type="text" name="apellido" placeholder="Ingrese su apellido" class="form-control">
                                </div>
                                   <div class="form-group">
                                    <input type="text" name="rol" placeholder="seleccione su rol" class="form-control">
                                </div>
                                
                                <button class="btn btn-primary btn-block">Submit</button>
                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>