<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign up</h3>
                    <div class="card-body">
                        <img src="/img/log.jpg" alt="" class="card-img-top mx-auto m-2 rounded-circle ">
                        <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="user" placeholder="Ingrese su usuario" class="form-control">
                        </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control">
                                </div>                                
                                <button class="btn btn-primary btn-block">Submit</button>
                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>